<h1>Train</h1>

<p>
  <strong>Title:</strong>
  <%= @train.tnumber %>
</p>
<p>
  <strong>Current station:</strong>
  <%	 if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <%	 else %>
    Not on station
  <%	 end %>
</p>
<p>
  <strong>Route:</strong>
  <%	 if @train.route.present? %>
    <%= @train.route.title %>
  <%	 else %>
    No route
  <%	 end %>
</p>

<%= link_to 'Back', trains_path %>
<%= link_to 'Edit', edit_train_path(@train) %>