<%= form_for @railway_station do |f| %>

    <% if @railway_station.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@railway_station.errors.count, "error") %> prohibited
            this railway station from being saved:
          </h2>
          <ul>
            <% @railway_station.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', railway_stations_path %>