<%= form_for @railway_station do |f| %>

    <%= render 'common/errors', resource: @railway_station %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit "#{@railway_station.new_record? ? 'Create' : 'Update'}" %>
    </p>
<% end %>

<%= link_to 'Back', railway_stations_path %>