<%= form_for @route do |f| %>

    <%= render 'common/errors', resource: @route %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', routes_path %>