<%= form_for @rail_car do |f| %>

    <%= render 'common/errors', resource: @rail_car %>

    <p>
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </p>
    <p>
      <%= f.label :rc_type %>
      <%= f.select(:rc_type, ['compartment', 'couchette berth'],) %>
    </p>
    <p>
      <%= f.label :seat %>
      <%= f.select(:seat, ['36', '40'],) %>
    </p>
    <p>
      <%= f.label :train %><br>
      <%= f.collection_select :train_id, Train.all, :id, :tnumber %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Back', rail_cars_path %>