<!DOCTYPE html>
<html>
  <head>
    <title>TtSales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer style = "background-color:aliceblue; height:80px">
    <div align="center">
    <p>My study project</p>
    <%=	 link_to 'Main page', welcome_index_path %>
    </div>
  </footer>
</html>
